.usage-detail {
  margin:10px 0;
}

.detail-uri {
  font-size:0.9em;
}

.detail-version {
  font-family:monospace;
  padding:0 20px;
}

.detail-description {
  color:#666;
  font-size:0.9em;
}

.component-consumption {
  padding: 0 10px;

  @media screen and (min-width: 875px) {
    width: 230px;
  }
}

.component-consumption .table {
  border-bottom:0;
}

.component-consumption .table td:first-child {
  padding-left: 0;
}

.version-status-ok {
  color:green;
}

.version-status-bad {
  color:red;
}
